<div style="margin-top: 40px" class="courses-table-component">
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
      <form [formGroup]="editCourseReactiveForm">
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div
              class="action-buttons"
              *ngIf="i != editingRowID; else editMode"
            >
              <mat-icon (click)="editCourse(i, row)">
                <span class="material-icons-outlined"> edit </span>
              </mat-icon>
              <!--(click)="openDeleteDialog(row.id)"  -->
              <mat-icon (click)="deleteCourse(row.id, row.code, row.course)"
                ><span class="material-icons-outlined"> delete </span></mat-icon
              >
            </div>
            <ng-template #editMode>
              <div class="action-buttons">
                <mat-icon
                  ><span
                    class="material-icons-outlined"
                    (click)="saveCourse(row)"
                  >
                    done
                  </span></mat-icon
                >
                <mat-icon (click)="cancelEditing()">
                  <span class="material-icons-outlined"> close </span>
                </mat-icon>
              </div></ng-template
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>

          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <!-- [routerLink]="'admin/home/topics/' + row.code"
                [state]="row" -->
              <div
                class="code"
                (click)="navigateToTopics(row)"
                matTooltip="Click to view or add topic"
              >
                {{ row.code }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <input
                type="text"
                name="code"
                formControlName="code"
                placeholder="Enter Code"
                class="input-fields enter-code"
              />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              {{ row.course }}
            </ng-container>
            <ng-template #editMode>
              <input
                type="text"
                name="course"
                formControlName="course"
                placeholder="Enter Course Name"
                class="input-fields course-name"
              />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="theoryTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Theory Time</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              {{ row.theoryTime }}hr
            </ng-container>
            <ng-template #editMode>
              <input
                type="text"
                name="theoryTime"
                formControlName="theoryTime"
                placeholder="0 hr"
                class="input-fields theory-time"
            /></ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="practiceTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Practice Time
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode"
              >{{ row.practiceTime }}hr
            </ng-container>
            <ng-template #editMode>
              <input
                type="text"
                name="practiceTime"
                formControlName="practiceTime"
                placeholder="0 hr"
                class="input-fields theory-time"
              />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <span
                [matTooltip]="row.description"
                style="color: rgb(70, 140, 201)"
                >{{ row.description | slice : 0 : 25
                }}{{ row.description.length > 25 ? "..." : "" }}</span
              >
            </ng-container>
            <ng-template #editMode>
              <p
                (click)="isDescOpen = !isDescOpen"
                type="button"
                cdkOverlayOrigin
                #trigger="cdkOverlayOrigin"
                class="input-text"
              >
                {{ row.description }}
              </p>
              <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="trigger"
                [cdkConnectedOverlayOpen]="isDescOpen"
                (overlayOutsideClick)="isDescOpen = !isDescOpen"
                [cdkConnectedOverlayPositions]="[
                  {
                    originX: 'start',
                    originY: 'bottom',
                    overlayX: 'end',
                    overlayY: 'top',
                    offsetX: 120
                  }
                ]"
              >
                <div class="overlay">
                  <div class="overlay-first-row">
                    <p>Description</p>
                    <mat-icon
                      (click)="isDescOpen = !isDescOpen"
                      style="cursor: pointer"
                      ><span class="material-symbols-outlined">
                        close
                      </span></mat-icon
                    >
                  </div>
                  <div class="overlay-second-row">
                    <mat-form-field style="width: 100%">
                      <textarea
                        matInput
                        formControlName="description"
                        (input)="onInputChange($event, 'description')"
                      ></textarea>
                      <mat-error
                        >Field can't be empty or have more than 40
                        characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="overlay-third-row">
                    <p>{{ lettersTypedDesc }}/40</p>
                    <div class="save-close">
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="isDescOpen = !isDescOpen"
                      >
                        Save</button
                      ><button
                        (click)="isDescOpen = !isDescOpen"
                        mat-stroked-button
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="addTopics">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Topics</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container>
              <div class="topics-container">
                <span
                  *ngFor="let topicObj of topicsData; let topicObjIndex = index"
                  [style.display]="
                    topicObj.code === row.code ? 'inline' : 'none'
                  "
                >
                  <span
                    class="topic-names"
                    *ngFor="let topic of topicObj.topic; let topicIndex = index"
                    [style.display]="topicIndex < 3 ? 'inline' : 'none'"
                  >
                    {{ topic.topicName }},
                  </span>
                  <span
                    *ngIf="topicObj.topic.length > 3"
                    matTooltip="{{ getRemainingTopics(topicObj.topic) }}"
                    matTooltipClass="tooltip-custom"
                  >
                    <span class="extra-topics">
                      +{{ topicObj.topic.length - 3 }}</span
                    >
                  </span>
                </span>
              </div>
            </ng-container>
          </td>
        </ng-container>
      </form>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
