<div class="component">
  <!-- header -->
  <div class="header">
    <p class="mat-h2">Home</p>
  </div>

  <!-- main-content -->
  <mat-card class="card">
    <div class="card-header">
      <!-- animationDuration="0ms" -->
      <mat-tab-group class="tab-group">
        <mat-tab label="Batches & Programs"
          ><app-batches-and-programs></app-batches-and-programs
        ></mat-tab>
        <mat-tab label="Attendance"><app-attendance></app-attendance></mat-tab>
      </mat-tab-group>
    </div>
    <mat-divider></mat-divider>
  </mat-card>
</div>
