<div style="margin-top: 40px" class="batches-table-component">
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
      <form [formGroup]="editBatchReactiveForm">
        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="width: 22%"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let row; let i = dataIndex">
            <div class="action-buttons">
              <mat-icon
                (click)="toggleTable(row)"
                [ngClass]="{ 'disabled-icon': isAddClicked }"
                ><span class="material-symbols-outlined">
                  expand_circle_down
                </span></mat-icon
              >
              <span
                class="action-buttons"
                *ngIf="i != editingRowID; else editMode"
              >
                <mat-icon (click)="editBatch(i, row)">
                  <span class="material-icons-outlined"> edit </span>
                </mat-icon>
                <mat-icon (click)="deleteBatch(row)"
                  ><span class="material-icons-outlined">
                    delete
                  </span></mat-icon
                >
              </span>
              <ng-template #editMode>
                <span class="action-buttons-edit">
                  <mat-icon
                    ><span
                      class="material-icons-outlined"
                      (click)="saveBatch(row)"
                    >
                      done
                    </span></mat-icon
                  >
                  <mat-icon (click)="cancelBatch()">
                    <span class="material-icons-outlined"> close </span>
                  </mat-icon>
                </span></ng-template
              >
              <mat-icon style="transform: rotate(90deg)"
                ><span class="material-symbols-outlined">
                  horizontal_rule
                </span></mat-icon
              >

              <mat-icon style="cursor: pointer"
                ><span
                  class="material-symbols-outlined"
                  matTooltip="Click to add Program"
                  (click)="toggleAdd(row)"
                  [ngClass]="{ 'disabled-icon': isTableClicked }"
                >
                  add
                </span></mat-icon
              >
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="batchCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch Code</th>
          <td mat-cell *matCellDef="let row; let i = dataIndex">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <div>
                {{ row.batchCode }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <mat-form-field appearance="outline" class="dense-form-field-5">
                <input
                  matInput
                  formControlName="batchCode"
                  placeholder="Enter Batch Code"
                />
                <mat-error>Field must not be empty</mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="batchName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch Name</th>
          <td mat-cell *matCellDef="let row; let i = dataIndex">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <div>
                {{ row.batchName }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <mat-form-field appearance="outline" class="dense-form-field-5">
                <input
                  matInput
                  formControlName="batchName"
                  placeholder="Enter Batch Name"
                />
                <mat-error>Field must not be empty</mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="batchStartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Batch Start Date
          </th>
          <td mat-cell *matCellDef="let row; let i = dataIndex">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <div>
                {{ row.batchStartDate | date : "dd/MM/yyyy" }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <mat-form-field
                appearance="outline"
                style="background-color: white !important"
                class="dense-datepicker-5"
              >
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="batchStartDate"
                  placeholder="Enter Date"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- expansion Table -->
        <ng-container matColumnDef="expandedDetailTable">
          <td
            mat-cell
            *matCellDef="let row2"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              [@detailExpand]="
                row2 === expandedRowTable ? 'expanded' : 'collapsed'
              "
              class="example-element-detail"
            >
              <ng-container *ngIf="row2 === expandedRowTable">
                <app-batches-program-table [batchCode]="batchCodeForChild">
                </app-batches-program-table
              ></ng-container>
            </div>
          </td>
        </ng-container>

        <!-- exapnsion add -->
        <ng-container matColumnDef="expandedDetailAdd">
          <td
            mat-cell
            *matCellDef="let row3"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              [@detailExpand]="
                row3 === expandedRowAdd ? 'expanded' : 'collapsed'
              "
              class="example-element-detail"
            >
              <ng-container *ngIf="row3 === expandedRowAdd">
                <app-batches-program-add
                  (isAddClicked)="recieveIsAddClicked($event)"
                  [batchCode]="batchCodeForChild"
                ></app-batches-program-add
              ></ng-container>
            </div>
          </td>
        </ng-container>
      </form>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        style="background-color: #d0e4ff"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        style="background-color: #d0e4ff"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row2; columns: ['expandedDetailTable']"
        class="example-detail-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row3; columns: ['expandedDetailAdd']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
