<div class="batch-program-courses-table-component">
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
      <form [formGroup]="editBatchProgramCourses">
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div
              class="action-buttons"
              *ngIf="i != editingRowID; else editMode"
            >
              <mat-icon (click)="editBatchProgramCourse(i, row)">
                <span class="material-icons-outlined"> edit </span>
              </mat-icon>
              <mat-icon (click)="deleteBatchProgramCourse(row)"
                ><span class="material-icons-outlined"> delete </span></mat-icon
              >
            </div>
            <ng-template #editMode>
              <div class="action-buttons-edit">
                <mat-icon
                  ><span
                    class="material-icons-outlined"
                    (click)="saveBatchProgramCourse(row)"
                  >
                    done
                  </span></mat-icon
                >
                <mat-icon (click)="cancelEditing()">
                  <span class="material-icons-outlined"> close </span>
                </mat-icon>
              </div></ng-template
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <div>
                {{ row.code }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <mat-form-field appearance="outline" class="dense-form-field-5">
                <input matInput formControlName="code" />
                <mat-error>Field must not be empty</mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="courseName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <div>
                {{ row.courseName }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <mat-form-field appearance="outline" class="dense-form-field-5">
                <input
                  matInput
                  formControlName="courseName"
                  placeholder="Enter Course Name"
                />
                <mat-error>Field must not be empty</mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="teacherName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Teacher Name
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <div>
                {{ row.teacherName }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <mat-form-field appearance="outline" class="dense-form-field-5">
                <input
                  matInput
                  formControlName="teacherName"
                  placeholder="Enter Teacher Name"
                />
                <mat-error>Field must not be empty</mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>
      </form>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        style="background-color: #d7d2d2 !important"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        style="background-color: #f0f6ff"
      ></tr>
    </table>
  </div>
</div>
